*{
    padding: 0 auto;
    margin: 0 auto;
}

body{
    width: 900px; 
    height: 1000px; 
    background-color: rgb(216, 17, 163) ;
}
header{
    margin: 10px;
    background-color:pink;
    text-align: center;
}
#a1{
    background-color:orchid ;
    border: 3px;
    border-color:black;
    text-align: center;
    font-size: medium;
    border-style: solid;
}
#a2{
    background-color:pink ;
    border: 3px;
    border-color:black;
    text-align: center;
    font-size: medium;
    border-style: solid;
}